:root {
  --bckgr-dark-color: #2f303a;
  --bckgr-bright-color: #ececec;
  --highlight-color: #2196f3;
  --bold-color: #212121;
  --bright-color: #ffffff;
  --dark-color: #000000;
  --icon-bckgr-color: #f5f4fa;
  --hover-onlay-color: rgba(33, 150, 243, 0.9);
  --color1: #2196f3;
  --color2: #757575;
  --color3: #212121;
  --color4: #afb1b8;
  --color5: rgba(47, 48, 58, 0.6);

  --border-radius: 4px;

  --animation-duration: 250ms;
  --animation-timefunc: cubic-bezier(0.4, 0, 0.2, 1);
}

/* * {
  margin: 0;
  padding: 0;
} */

body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: #757575;
  font-size: 16px;
  letter-spacing: 3%;
  margin: 0 auto;
  max-width: 1600px;
}

.list {
  padding: 0;
  margin: 0;
  list-style-type: none;
  list-style-position: inside;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  text-decoration: none;
  list-style-type: none;
  list-style-position: inside;
  display: flex;
  justify-content: left;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  color: var(--dark-color);
  text-decoration: none;
}

.logo--blue {
  color: var(--highlight-color);
}

.logo--footer {
  display: inline-flex;
  color: var(--bright-color);
  padding-bottom: 20px;
}

.button {
  background-color: var(--highlight-color);
  border: 0;
  border-radius: var(--border-radius);
  color: var(--bright-color);
  cursor: pointer;
  font-weight: 700;
  letter-spacing: 6%;
  width: 200px;
  height: 50px;
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.button:hover,
.button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.socialmedia__link {
  display: inline-flex;
  background-color: var(--bright-color);
  color: var(--color4);
  border-radius: 50%;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  will-change: background-color, color;
  transition-property: background-color, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.socialmedia__icon {
  display: block;
}

.socialmedia__link:hover,
.socialmedia__link:focus {
  background-color: var(--color1);
  color: var(--bright-color);
  --color4: currentColor;
}

.socialmedia__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  --color4: var(--bright-color);
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.socialmedia__link--footer:hover,
.socialmedia__link--footer:focus {
  background-color: var(--color1);
}

/* == ==== End of global styling ==== == */
/* == ==== Header ==== == */

.header {
  background-color: var(--bckgr-bright-color);
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--bckgr-bright-color);
  padding: 24.5px 0;
}

.header__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  flex-grow: 1;
}

.navigation__list {
  color: var(--bold-color);
}

.navigation__list:first-child {
  padding-left: 95px;
}

.navigation__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: var(--bold-color);
  margin-right: 45px;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.navigation__link:hover,
.navigation__link:focus {
  color: var(--highlight-color);
}

.navigation__link--active {
  color: var(--highlight-color);
  position: relative;
}

.navigation__link--active::after {
  content: " ";
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  top: 46px;
}

.contact-list {
  flex-direction: row;
  justify-self: right;
  align-items: center;
}

.contact-list__icon {
  margin-right: 10px;
}

.contact-list:last-child {
  padding-right: 27px;
}

.contact-list__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  color: inherit;
  padding-left: 50px;
  display: flex;
  justify-content: right;
  align-items: center;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.contact-list__link:hover,
.contact-list__link:focus {
  color: var(--highlight-color);
  --color2: currentColor;
}

/* == ==== End of Header ==== == */

/* == ==== Footer ==== == */

.footer {
  background-color: var(--bckgr-dark-color);
}

.footer__items:first-child {
  padding-top: 50px;
}

.footer__items:last-child {
  padding-bottom: 60px;
}

.footer__items {
  display: flex;
  flex-direction: flex;
  align-items: baseline;
  gap: 70px;
}

.contact-list--footer {
  flex-direction: column;
  line-height: 1.875;
  padding: 0;
}

.contact-list__link--footer:hover,
.contact-list__link--footer:focus,
.contact-list__address:hover,
.contact-list__address:focus {
  color: var(--highlight-color);
}

.contact-list__address {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.contact-list__link--footer {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  opacity: 60%;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.socialmedia__header {
  margin-bottom: 20px;
  font-family: "Roboto";
  color: var(--bright-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.socialmedia__icon-list {
  gap: 10px;
}

.newsletter__label {
  margin-bottom: 20px;
  font-family: "Roboto";
  color: var(--bright-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 03%;
  text-transform: uppercase;
}

.newsletter {
  display: flex;
  align-items: flex-end;
}

.newsletter__input {
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: var(--border-radius);
  padding: 15px 16px;
  width: 358px;
  color: var(--bright-color);
}

.newsletter__input::placeholder {
  color: var(--bright-color);
  opacity: 0.6;
  font-family: Roboto;
}

.newsletter__button {
  color: var(--bright-color);
  fill: var(--bright-color);
  background-color: var(--highlight-color);
  padding: 10px 42px 10px 28px;
  height: 50px;
  border: 0;
  border-radius: var(--border-radius);
  font-size: 16px;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 6%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  cursor: pointer;
}

.newsletter__send-icon {
  display: block;
  fill: var(--bright-color);
  margin-left: 24px;
}

/* == ==== End of Footer ==== == */

/* == ==== Main ==== == */
/* == ==== Intro ==== == */

.intro {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--bckgr-dark-color);
  background-image: linear-gradient(to top, var(--color5), rgba(0, 0, 0, 0.1)),
    url("../images/intro-bckgr.jpg");
  background-size: cover;
}

.intro__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__header {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 6%;
  color: var(--bright-color);
  padding-bottom: 30px;
}

.backdrop {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.is-hidden {
  transform: scale(0);
  visibility: 0;
  opacity: 0;
}

.modal-content {
  position: relative;
  width: 520px;
  margin: auto;
  padding: 40px;
  background-color: var(--bright-color);
}

.modal__header {
  margin: 0 auto;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  line-height: 1.2;
  color: var(--bold-color);
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal__x-button {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 3%;
  right: 3%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal_label {
  font-family: Roboto;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--color2);
}

.modal__fieldset {
  width: 448px;
  margin: 4px 0 10px;
  padding: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
  transition: border var(--animation-duration) var(--animation-duration);
  display: flex;
  align-items: center;
}

.modal__icon {
  fill: var(--bold-color);
}

.modal__input {
  border: 0;
  font-size: 16px;
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 12px;
}

.modal__fieldset:has(.modal__input:focus) {
  border: 1px solid var(--highlight-color);
}

.modal__fieldset:has(.modal__input:focus) .modal__icon {
  fill: var(--highlight-color);
}

.modal__input:focus {
  border: 0;
  outline: 0;
}

.modal__comment-field {
  display: flex;
  flex-direction: column;
  width: 448px;
}

.modal__textarea {
  margin: 4px 0 20px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: var(--border-radius);
  padding: 12px 16px;
  transition: border var(--animation-duration) var(--animation-duration);
}

.modal__textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal__textarea:focus {
  border: 1px solid var(--highlight-color);
  outline: 0;
}

.modal__checkbox-fieldset {
  margin-bottom: 30px;
  border: 0;
  padding: 0;
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.71;
  margin: 0 auto 30px;
  position: relative;
  display: flex;
}

.modal__checkbox-icon {
  position: absolute;
  visibility: hidden;
  --color2: var(--bright-color);
  transition-property: visibility;
  transition-duration: 240ms;
  transition-timing-function: var(--animation-duration);
}

.modal__checkbox {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin: 0;
  cursor: pointer;
  visibility: visible;
  transition-property: visibility;
}

.modal__checkbox:checked {
  visibility: hidden;
}

.modal__checkbox-fieldset:has(.modal__checkbox:checked) .modal__checkbox-icon {
  visibility: visible;
}

.modal__link {
  color: var(--highlight-color);
}

/* == ==== End of Intro ==== == */
/* == ==== Lorem ==== == */

.lorem-section {
  background-color: var(--bright-color);
}

.lorem-section__list {
  gap: 30px;
}

.lorem-section__item {
  width: 270px;
  text-align: left;
}

.lorem-section__icon {
  display: flex;
  justify-content: center;
  background-color: var(--icon-bckgr-color);
  border-radius: var(--border-radius);
  padding: 25px 0;
  margin-bottom: 30px;
}

.lorem-section__title {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  color: var(--bold-color);
  margin-bottom: 10px;
}

.lorem-section__text {
  font-size: 14px;
  line-height: 1.71;
}

/* == ==== End of Lorem ==== == */

/* == ==== Our skills-section ==== == */

.skills-section {
  background-color: var(--bright-color);
}

.skills-section__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--bold-color);
  padding-bottom: 50px;
}

.skills-section__list {
  justify-content: space-between;
}

.skills-section__item {
  width: 370px;
  position: relative;
}

.skills-section__img {
  display: block;
}

.skills-section__description {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: var(--bright-color);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: Roboto;
  position: absolute;
  bottom: 0;
}

/* == ==== End of our skills-section ==== == */

/* == ==== Our team ==== == */

.team {
  background-color: var(--bckgr-bright-color);
}

.team__header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--bold-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  justify-content: space-between;
}

.team-card {
  width: 270px;
  background-color: var(--bright-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card__picture {
  align-items: center;
  margin: 0;
  padding: 0;
}

.team-card__description {
  text-align: center;
  padding: 30px 0;
}

.team-card__name {
  color: var(--bold-color);
  font-weight: 500;
  line-height: 1.17;
  padding: 0;
  margin: 0;
}

.team-card__text {
  line-height: 1.17;
}

.team-card__socialmedia-list {
  justify-content: center;
  gap: 10px;
}

/* == ==== EEnd of Our team ==== == */

/* == ==== Our clients ==== == */

.ourclients__header {
  color: var(--dark-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.ourclients__logo-list {
  justify-content: space-between;
  gap: 30px;
}

.ourclients__link {
  display: block;
  width: 170px;
  padding: 17.71px 32px 13.25px;
  border-radius: var(--border-radius);
  color: var(--color4);
  border: 1px solid var(--color4);
  will-change: border, color;
  transition-property: border, color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.ourclients__logo {
  display: inline-flex;
}

.ourclients__link:hover,
.ourclients__link:focus {
  border: 1px solid var(--color1);
  color: var(--color1);
  --color4: currentColor;
}

/* == ==== End of Our clients ==== == */

/* == ==== End of Studio Main ==== == */

/* == ==== Portfolio Main ==== == */

.filter {
  background-color: var(--bright-color);
}

.filter__button-list {
  display: flex;
  justify-content: center;
  list-style-type: none;
  list-style-position: inside;
  padding-bottom: 50px;
}

.filter__button-list li:not(:last-child) {
  margin-right: 8px;
}

.filter__button {
  color: var(--bold-color);
  font-weight: 500;
  line-height: 1.625;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 6px 22px;
  background-color: var(--bckgr-bright-color);
  transition-property: background-color, color, box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.filter__button:focus,
.filter__button:hover {
  background-color: var(--highlight-color);
  color: var(--bright-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.result {
  background-color: var(--bright-color);
}

.result__list {
  flex-wrap: wrap;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.result-card {
  flex-basis: calc((100%-60px) / 3-0.5px);
  background-color: var(--bright-color);
  transition-property: box-shadow;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.result-card:hover,
.result-card:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.result-card__item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;
  text-align: left;
}

.result-card__picture {
  position: relative;
  overflow: hidden;
}

.result-card__img {
  display: block;
  margin: 0;
  padding: 0;
}

.result-card__description {
  display: block;
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.result-card__title {
  color: var(--bold-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 06%;
  margin: 0;
  padding: 0;
}

.result-card__text {
  line-height: 1.875;
}

.result-card__onlay {
  position: absolute;
  background-color: var(--hover-onlay-color);
  width: 100%;
  height: 294px;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--animation-duration);
}

.result-card__item:hover .result-card__onlay {
  transform: translateY(0);
}

.result-card__onlay-description {
  color: var(--bright-color);
  font-family: roboto;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 03%;
  padding: 49px 35px;
}

/* == ==== End of Portfolio Main ==== == */
