:root {
  --bckgr-dark-color: #2f303a;
  --bckgr-bright-color: #ececec;
  --highlight-color: #2196f3;
  --bold-color: #212121;
  --bright-color: #ffffff;
  --dark-color: #000000;
  --icon-bckgr-color: #f5f4fa;
  --hover-onlay-color: rgba(33, 150, 243, 0.9);
  --color1: #2196f3;
  --color2: #757575;
  --color3: #212121;
  --color4: #afb1b8;
  --color5: rgba(47, 48, 58, 0.6);

  --border-radius: 4px;

  --animation-duration: 250ms;
  --animation-timefunc: cubic-bezier(0.4, 0, 0.2, 1);
}

/* * {
  margin: 0;
  padding: 0;
} */

/* == ==== End of global styling ==== == */
/* == ==== Header ==== == */

/* == ==== End of Header ==== == */

/* == ==== Footer ==== == */



/* == ==== End of Footer ==== == */

/* == ==== Main ==== == */
/* == ==== Intro ==== == */





/* == ==== End of Intro ==== == */
/* == ==== Lorem ==== == */


/* == ==== End of Lorem ==== == */

/* == ==== Our skills-section ==== == */


/* == ==== End of our skills-section ==== == */

/* == ==== Our team ==== == */



/* == ==== EEnd of Our team ==== == */

/* == ==== Our clients ==== == */


/* == ==== End of Our clients ==== == */

/* == ==== End of Studio Main ==== == */

/* == ==== Portfolio Main ==== == */





/* == ==== End of Portfolio Main ==== == */
