.logo {
  font-family: "Raleway", sans-serif;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
}

.logo--blue {
  color: var(--highlight-color);
}

.logo--footer {
  display: inline-flex;
  color: var(--bright-color);
  padding-bottom: 20px;
}
