/* project colors */

$bckgr-dark-color: #2f303a;
$bckgr-bright-color: #ececec;
$highlight-color: #2196f3;
$bold-color: #212121;
$bright-color: #ffffff;
$dark-color: #000000;
$icon-bckgr: #f5f4fa;
$hover-onlay: rgba(33, 150, 243, 0.9);

/* svg fill colors */

$color1: #2196f3;
$color2: #757575;
$color3: #212121;
$color4: #afb1b8;
$color5: rgba(47, 48, 58, 0.6);

/* transform variables */

$animationDuration: var(--animation-duration);
$animationTimingFunction: transition-timing-function(var(--animation-duration));
